.highLow {
  padding: var(--space-xs) 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-2xs);

  width: 100%;
}

.high > p,
.low > p {
  text-wrap: nowrap;
}

.current {
  width: 100%;
}

.withBar {
  padding-top: var(--space-m);
}

.bar {
  width: 100%;
  height: var(--space-5xs);

  border-radius: var(--radius);

  background: var(--high-low-grad);
}

.arrow {
  width: fit-content;
}
