.button {
  width: fit-content;
  padding: var(--space-3xs) var(--space-m);

  font-size: inherit;
  font-weight: 600;

  display: flex;
  flex-direction: row;
  gap: var(--space-3xs);

  border-radius: var(--radius);
  /* outline: none; */
  border: none;

  background: var(--grad-3);
  color: var(--txt-light);
  cursor: pointer;
}
