.getStarted {
  padding: var(--space-2xs);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-xs);
}

.title {
  font-size: var(--step-0);
  text-align: center;
}

.info {
  padding: 0 var(--space-s);

  font-size: var(--step--2);
  text-align: center;
}

.imgContainer {
  height: var(--space-3xl);
  aspect-ratio: 1/1;
  position: relative;
}

.imgContainer > img {
  object-fit: contain;
}
