/* @import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* colors */
:root {
  --pri: #15483a;
  --sec: #7d9690;
  --ter: #0c2821;
  --qua: #c4cfcc;
  --qui: #28b21d;
  --sen: #dce8e6;
  --sep: #6184ff;

  --pri-dark: #0052fe;
  --pri-light: #e2ecfe;

  --green-light: #ebf9f4;
  --green-dark: #14b079;
  --red-light: #fdebe8;
  --red-dark: #e96975;
  --grey-light: #dee1e6;

  --bg-light: #fff;
  --bg-light-a: #e4e3e7;
  --bg-hl: #768396;

  --txt-light: #fff;
  --txt-dark: #000;
  --txt-mid: #807e81;

  --shadow: #1026490f;

  --hi-c-grad-1: linear-gradient(81.62deg, #2870ea 8.72%, #1b4aef 85.01%);

  --max-width: 1440px;

  /* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25|0.1,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --space-6xs: clamp(0.125rem, 0.125rem + 0vi, 0.125rem);
  --space-5xs: clamp(0.25rem, 0.25rem + 0vi, 0.25rem);
  --space-4xs: clamp(0.3125rem, 0.2908rem + 0.1087vi, 0.375rem);
  --space-3xs: clamp(0.4375rem, 0.4158rem + 0.1087vi, 0.5rem);
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vi, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vi, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vi, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vi, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vi, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vi, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vi, 7.5rem);

  /* One-up pairs */
  --space-6xs-5xs: clamp(0.125rem, 0.0815rem + 0.2174vi, 0.25rem);
  --space-5xs-4xs: clamp(0.25rem, 0.2065rem + 0.2174vi, 0.375rem);
  --space-4xs-3xs: clamp(0.3125rem, 0.2473rem + 0.3261vi, 0.5rem);
  --space-3xs-2xs: clamp(0.4375rem, 0.3723rem + 0.3261vi, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vi, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vi, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vi, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vi, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vi, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vi, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vi, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.6467rem + 2.3913vi, 2.5rem);

  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vi, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vi, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);

  --radius: var(--space-5xs-4xs);
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;

  /* transition: all 0.3s ease-out; */
  /* -webkit-transition: all 0.3s ease-out; */
  /* -moz-transition: all 0.3s ease-out; */
  /* -o-transition: all 0.3s ease-out; */
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background: var(--bg-light-a);
}

body > .rootContainer {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--sen);
  /* border-radius: 0.4rem; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--sec);
  /* border-radius: 0.3rem; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--pri);
}
