.tabs {
  display: flex;
  align-items: center;
  gap: var(--space-5xs);

  overflow-x: auto;

  /* hide scrollbar */
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.tabs::-webkit-scrollbar {
  display: none;
}

.active,
.inactive {
  padding: var(--space-5xs) var(--space-3xs);

  text-wrap: nowrap;

  border-radius: var(--radius);
  border: none;
  /* outline: none; */
  cursor: pointer;
}

.active {
  background: var(--pri-light);
  color: var(--pri-dark);
}

.inactive {
  background: none;
  color: var(--txt-dark);
}

.inactive:hover {
  background: var(--grey-light);
}
