.panel {
  padding: var(--space-xs);

  border-radius: var(--radius);
  background: var(--bg-light);

  overflow-x: auto;

  /* hide scrollbar */
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.panel::-webkit-scrollbar {
  display: none;
}
