.fundamentals {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--space-s);
}

.fundamentals > div {
  width: 100%;
}

.allTime {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* gap: var(--space-5xs); */
}

/* 800px */
@media (max-width: 50em) {
  .fundamentals {
    flex-direction: column;
    gap: 0;
  }

  .reverseOnMobile {
    display: flex;
    flex-direction: column-reverse;
  }
}
