.infoCard {
  padding: var(--space-2xs) 0;
  height: calc(var(--space-l) * 4);
  aspect-ratio: 7/3;
  overflow-y: auto;

  display: flex;
  gap: var(--space-2xs);
}

.icon {
  font-size: var(--step-1);
  padding: var(--space-2xs);
  height: calc(1em + var(--space-2xs) * 2);
  aspect-ratio: 1/1;

  border-radius: 50%;

  color: var(--txt-light);
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--space-5xs);
}

.info > p {
  font-size: var(--step--2);
}
